<div [class.calendar-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button mat-raised-button color="primary" class="titleBtn"><h4 class="loginBtn">Calendar Force</h4></button>
  </mat-toolbar>
  <mat-sidenav-container class="calendar-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav-content class="contentWidth">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
